<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)"> 
    <table class = "table-sm">
      <h3>Registration</h3>
      <tr>
            <td>
                  <label for = "Username">Username:</label>
            </td>
            <td>
                  <input type="text" name="Username" id="Username" [(ngModel)]="Username" disabled/>
            </td>
      </tr>
      <tr>
          <td>
              <label for = "Email">Email:</label>
          </td>
          <td>
              <input type="email" name="Email" id="Email" [(ngModel)]="Email"/>
          </td>
      </tr>  
      <tr>
            <td>
                  <label for = "FullName">FullName:</label>
            </td>
            <td>
                  <input type="text" name="FullName" id="FullName" [(ngModel)]="FullName"/>
            </td>
      </tr>
      <tr>
          <td>
                <label for = "Password">Password:</label>
          </td>
          <td>
                <input type="password" name="Password" id="Password" [(ngModel)]="Password"/>
          </td>
      </tr>
      <tr>
          <td>
                <label for = "ConfirmPassword">Confirm password:</label>
          </td>

          <td>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" [(ngModel)]="ConfirmPassword"/>
          </td>
      </tr>
      <tr>
            <td>
                  <label for = "SSN">SSN:</label>
            </td>
  
            <td>
                  <input type="text" name="SSN" id="SSN" [(ngModel)]="SSN" disabled/>
            </td>
        </tr>
      <tr>
          <td>
                <label for = "ContactNumber">ContactNumber:</label>
          </td>

          <td>
                <input type="text" name="ContactNumber" id="ContactNumber" [(ngModel)]="ContactNumber"/>
          </td>
      </tr>
      <tr>
          <td>
                <label>Role:</label>
          </td>
          <td>
                <select style="width: 100%" name="Roles" id="Role" [(ngModel)]="Role">
                   <option value="Customer">Customer</option>
                </select>
          </td>
      </tr>
      <tr>
        <td>
              <label>Gender:</label>
        </td>
        <td>
          <select style="width: 100%" name="Genders" id="Gender" [(ngModel)]="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
         </select>
        </td>
      </tr>
      <tr>
          <td>
                <label>DriveType:</label>
          </td>
          <td>
            <select style="width: 100%" name="DriveTypes" id="DriveType" [(ngModel)]="DriveType">
              <option value="Single">Single</option>
              <option value="Multiple">Multiple</option>
           </select>
          </td>
        </tr>
        <br>  
        <br>       
    </table>
    <br>
  <div>
    <input class="button button1" type="submit" value="Change"/>
  </div>
</form>
</div>