<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <table>
        <h3>Drive Information</h3>
        <tr>
            <td>
                  <label for = "Date">Date:</label>
            </td>
            <td>
                  <input type="date" name="Date" id="Date" [(ngModel)]="Date"/>
            </td>
      </tr>
      <tr>
        <td>
              <label>CarType:</label>
        </td>
        <td>
          <select style="width: 100%" name="Cars" id="CarType" [(ngModel)]="CarType">
            <option value="None">None</option>
            <option value="PassengerCar">PassengerCar</option>
            <option value="Van">Van</option>
         </select>
        </td>
      </tr> 
      <tr>
            <td>
                  <label for = "Price">Price:</label>
            </td>
            <td>
                  <input type="number" name="Price" id="Price" [(ngModel)]="Price"/>
            </td>
      </tr>
      <tr>
        <td>
              <label>Status:</label>
        </td>
        <td>
          <select style="width: 100%" name="Statuses" id="Status" [(ngModel)]="Status">
            <option value="Created">Created</option>
            <option value="Formed">Formed</option>
         </select>
        </td>
      </tr>
      <tr>
        <td>
            <label for = "Origin">Origin:</label>
        </td>
        <td>
            <select style="width: 100%" name="Origins" id="OriginId" [(ngModel)]="OriginId">
                <option *ngFor = "let location of locations" value={{location.Id}} >{{location.Street}} {{location.HouseNumber}}</option>
            </select>
        </td>  
    </tr>
    <tr>
      <td>
          <label for = "Destination">Destination:</label>
      </td>
      <td>
          <select style="width: 100%" name="Destinations" id="DestinationId" [(ngModel)]="DestinationId">
              <option *ngFor = "let location of locations" value={{location.Id}} >{{location.Street}} {{location.HouseNumber}}</option>
          </select>
      </td>  
  </tr>
  <tr>
    <td>
        <label for = "Driver">Driver:</label>
    </td>
    <td>
        <select style="width: 100%" name="Drivers" id="DriverId" [(ngModel)]="DriverId">
            <option *ngFor = "let driver of drivers" value={{driver.Id}} >{{driver.FullName}}</option>
        </select>
    </td>  
</tr>
    </table>
    <div>
        <input class="button button1" type="submit" value="Add"/>
      </div>
  </form>
</div>