<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <table>
        <h3>Change Location</h3>
        <tr>
          <td>
                <label for = "Username">Username:</label>
          </td>
          <td>
                <input type="text" name="Username" id="Username" [(ngModel)]="Username" disabled/>
          </td>
    </tr>
        <tr>
            <td>
                <label for = "Location">Location:</label>
            </td>
            <td>
                <select style="width: 100%" name="Locations" id="LocationId" [(ngModel)]="LocationId">
                    <option *ngFor = "let location of locations" value={{location.Id}} >{{location.Street}} {{location.HouseNumber}}</option>
                </select>
            </td>  
        </tr>
    </table>
    <div>
        <input class="button button1" type="submit" value="Change"/>
      </div>
  </form>
</div>