<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Date</th>
      <th>CarType</th>
      <th>Price</th>
      <th>Status</th>
      <th>OriginId</th>
      <th>DestinationId</th>
      <th>AdminId</th>
      <th>DriverId</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let d of drives">
      <td> {{d.Date}} </td>
      <td> {{d.CarType}} </td>
      <td> {{d.Price}} </td>
      <td> {{d.Status}} </td>
      <td> {{d.OriginId}} </td>
      <td> {{d.DestinationId}} </td>
      <td> {{d.AdminId}} </td>
      <td> {{d.DriverId}} </td>
      <td>          
        <select style="width: 100%" name="Statuses" id="Status" [(ngModel)]="Status" >
          <option value="Created">Created</option>
          <option value="Canceled">Canceled</option>
          <option value="Formed">Formed</option>
          <option value="Processed">Processed</option>
          <option value="Accepted">Accepted</option>
          <option value="Unsuccessfull">Unsuccessfull</option>
          <option value="Successfull">Successfull</option>
        </select>
      </td>
      <td>
          <button  (click)="ChangeStatus(d.Id)" class="btn btn-secondary">Change Status</button>
      </td>
    </tr>
  </tbody>
</table>